<% include ./partials/header %>

<div class="main container form-group">
	<div class="display-4 post-header">Edit "<%= blog.title.toUpperCase() %>"</div>
	<form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
	<div class="form-group">
		<label class="col-sm-2 col-form-label">Title</label>
		<input type="text" class="form-control" name="blog[title]" value="<%= blog.title %>">
	</div>
	<div class="form-group">
		<label class="col-sm-2 col-form-label">Image</label>
		<input type="text" class="form-control" name="blog[image]" value="<%= blog.image %>">
		</div>
		<div class="form-group">
		<label class="col-sm-2 col-form-label">Content</label>
		<textarea name="blog[body]" class="form-control" rows="10"><%= blog.body %></textarea>
		</div>
		<input class="btn btn-primary" type="submit">
	</form>
</div>

<% include ./partials/footer %>