<% include ./partials/header %>

<div class="main container">
	<div class="display-4" id="head-title">IC-PIP project <i class="fa fa-heart" aria-hidden="true"></i></div>

			<% blogs.reverse().forEach((blog) => { %>
				<div class="card mb-3 border-0">
					<div class="image">
						<img src="<%=blog.image%>" class="img-fluid rounded-top">
					</div>
					<div class="card-block">
						<a class="h1" href="/blogs/<%= blog._id %>">
							<%= blog.title %>
						</a>
						<p class="card-text">
							<small class="text-muted"><%= blog.created.toDateString() %></small>
						</p>
						<div class="lead"><p><%= blog.body.substring(0, 200) %> . . .</p>
						</div>

						<div class="extra">
							<a class="tiny ui floated basic pink button" href="/blogs/<%= blog._id %>">Read more <i class="right angle icon"></i>
							</a></div>
						</div>
					</div>
				<%})  %>
		</div>



<% include ./partials/footer %>