<% include ./partials/header %>

<div class="main container">
	<div class="h1"><%= blog.title %></div>
		<div class="card-block">
			<img src="<%=blog.image%>" class="img-fluid rounded-top">
			<div class="content">
                <p class="card-text"><small class="text-muted"><%= blog.created.toDateString() %></small></p>
			</div>
			<div class="card-block">
				<p class="text-justify"><%= blog.body %></p>
			</div>
			<a class="btn btn-outline-primary btn-sm" href="/blogs/<%= blog._id %>/edit">EDIT</a>
			<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="btn btn-outline-danger btn-sm">DELETE</button>
			</form>
		</div>
</div>

<% include ./partials/footer %>